<!-- <h1 class="display-2">New issue</h1> -->
<form #issueForm="ngForm">

  <div class="form-group">
    <!-- <small id="locationHelp" class="form-text text-muted">Give the location of the issue (e.g. labor)</small> -->
    <mat-form-field>
      <input matInput type="text" aria-describedby="locationHelp" placeholder="Enter location"
        required pattern="PC\d+" name="location" [(ngModel)]="issue.location" #location="ngModel">
        <mat-error *ngIf="location.invalid && (location.dirty || location.touched) && location.errors.required">
          Location is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="location.invalid && (location.dirty || location.touched) && location.errors.pattern">
          Location must start with <strong>PC</strong>
        </mat-error>
    </mat-form-field>
  </div>

  <div class="form-group">
    <!-- <small id="descriptionHelp" class="form-text text-muted">The error details</small> -->
    <mat-form-field>
      <textarea matInput aria-describedby="descriptionHelp" placeholder="Enter issue details"
        required name="description" [(ngModel)]="issue.description"></textarea>
    </mat-form-field>
  </div>

  <button type="submit" mat-raised-button color="primary" routerLink="/issues">Save new issue</button>
</form>
