<h1 class="display-2">My issues</h1>

<!-- <mat-button-toggle-group [(ngModel)]="selectedStatus"> -->
<mat-button-toggle-group [value]="selectedStatus" (change)="onFilterChange(group.value)" #group="matButtonToggleGroup">
  <mat-button-toggle value="" >
    All
  </mat-button-toggle>
  <mat-button-toggle *ngFor="let status of statuses" [value]="status">
    {{status}}
  </mat-button-toggle>
</mat-button-toggle-group>

Selected filter: {{selectedStatus | json}}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Location</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th scope="col">Functions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let issue of issues">
      <th scope="row">{{ issue.id }}</th>
      <td>{{ issue.location }}</td>
      <td>
        <a [routerLink]="['/issues', issue.id]">{{ issue.description }}</a>
      </td>
      <td>{{ issue.status }}</td>
      <td>
        <button mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button mat-raised-button routerLink="/issues/add" color="primary">New issues</button>
