<h1 class="display-2">My issues</h1>

<div class="row">
  <div class="col">
    <status-filter [status]="selectedStatus" (onChange)="onFilterChange($event)"></status-filter>
    Selected filter: {{selectedStatus}}

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Location</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Functions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let issue of filteredIssues">
          <th scope="row">{{ issue.id }}</th>
          <td>{{ issue.location }}</td>
          <td>
            <a [routerLink]="['/issues', issue.id]">{{ issue.description }}</a>
          </td>
          <td>{{ issue.status }}</td>
          <td>
            <a mat-icon-button [routerLink]="['/issues', issue.id, 'edit']">
              <mat-icon>edit</mat-icon>
            </a>
            <button mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button mat-raised-button color="primary" (click)="onNewClick()">New issue</button>
  </div>
</div>
